@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "Shared/Master.cshtml";
    ViewBag["Title"] = "Local restaurants by name call"; 
}
    @Html.Partial("Shared/_partnerDetails", Model)

   <form action="/localrestaurantsbyname/invoke" method="POST">
    @Html.Partial("Shared/_apiSelection", @Model.ApiVersion)
    <fieldset>
        <label for="partySize">Search term</label>
        <input type="text" name="searchterm" value="@Model.DefaultSearchTerm">
    </fieldset>

    <div class="buttons">
        <input type="submit" class="btn btn-go" value="Get results">
        <a href="/localrestaurantsbyname" class="start-again">Start again</a>
    </div>
</form>

    @Html.Partial("Shared/_output", Model)
    @Html.Partial("Shared/_js", "Local restaurants by name")