@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "Shared/Master.cshtml";
    ViewBag["Title"] = "Offer details call"; 
}

@Html.Partial("Shared/_partnerDetails", Model)
<form action="/offerdetails/invoke" method="POST">
    @Html.Partial("Shared/_apiSelection", @Model.ApiVersion)

    <div class="buttons">
        <input type="submit" class="btn btn-go" value="Get results">
        <a href="/restaurant" class="start-again">Start again</a>
    </div>
    <input type="hidden" id="PartnerId"/>
</form>
@Html.Partial("Shared/_output", Model)
@Html.Partial("Shared/_js", "Offer details")
