@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "Shared/Master.cshtml";
    ViewBag["Title"] = "Reservation Status call"; 
}
    @Html.Partial("Shared/_partnerDetails", Model)

   <form action="/reservationstatus/invoke" method="POST">
    @Html.Partial("Shared/_apiSelection", @Model.ApiVersion)
       
       <fieldset>
            <label for="restaurantId">Restaurant Id</label>
            <input type="text" name="restaurantId">
        </fieldset>
       
       <fieldset>
            <label for="confirmationNumber">Confirmation Number</label>
            <input type="text" name="confirmationNumber">
        </fieldset>

       <div class="buttons">
           <input type="submit" class="btn btn-go" value="Get results">
           <a href="/reservationstatus" class="start-again">Start again</a>
       </div>
</form>

    @Html.Partial("Shared/_output", Model)
    @Html.Partial("Shared/_js", "Reservation Status")