@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "Shared/Master.cshtml";
    ViewBag["Title"] = "Search restaurant IDs call"; 
}
    @Html.Partial("Shared/_partnerDetails", Model)

   <form action="/searchrestaurantids/invoke" method="POST">
    @Html.Partial("Shared/_apiSelection", @Model.ApiVersion)
    <fieldset>
        <label for="partySize">Party size</label>
        <input type="text" name="partySize" value="@Model.DefaultPartySize">
    </fieldset>

    <fieldset>
           <label for="dateTime">Date time</label>
           <input type="text" name="dateTime" value="@Model.DefaultDateTime">
    </fieldset>
       
    <fieldset>
        <label for="isUSDateFormat">Is US date time?</label>
        <input type="checkbox" name="isUSDateFormat">
    </fieldset>

    <div class="buttons">
        <input type="submit" class="btn btn-go" value="Get results">
        <a href="/searchrestaurantids" class="start-again">Start again</a>
    </div>
</form>

    @Html.Partial("Shared/_output", Model)
    @Html.Partial("Shared/_js", "Search restaurant IDs")